.custom-block
  &.arguments, &.returns, &.usage, &.throws
    .custom-block-title
      font-size 14px
      font-weight 600
      margin-bottom -0.4rem
      border-bottom 0.125rem solid lightgrey

.custom-block
  &.arguments, &.returns, &.usage, &.throws
    background-color #f3f5f7
    padding 0.1rem 1.5rem
    border-left-width 0.125rem
    border-left-style solid
    margin 1rem 0
  &.throws
    border-color darken(#ffe564, 35%)
